@use "utils/variables" as var;
@use "utils/mixins" as mix;

.about {
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    row-gap: 40px;

    &__image {
        width: 335px;
        margin-top: -75px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 337px;

        h1 {
            font-size: 2rem;
            font-weight: var.$extraBold;
            color: var.$blue;
        }

        p {
            font-size: 1rem;
            font-weight: var.$regular;
            color: var.$grey;
            line-height: 175%;
        }

        .cta {
            width: 150px;
            height: 40px;
            background-color: var.$lightBlue;
            border: none;
            font-size: 0.875rem;
            font-weight: var.$regular;
            color: var.$white;
            border-radius: 10px 0px 10px 0px;
            transition: opacity 150ms, box-shadow 150ms;

            &:hover {
                opacity: 0.8;
                box-shadow: 0px 0px 20px var.$lightBlue;
            }
        }
    }
}

@include mix.breakpoint-desktop(medium) {
    .about {
        flex-direction: row-reverse;
        column-gap: 100px;
        align-items: center;
        padding: 100px 0px;

        &__image {
            width: 525px;
        }

        &__text {
            width: 435px;
        }
    }
}