@use "utils/variables" as var;
@use "utils/mixins" as mix;

.footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 40px;
    width: 100%;
    height: 236px;
    margin: 0;
    padding-left: 20px;
    row-gap: 34px;
    
    .bg {
        width: 100%;
        height: 236px;
        left: 0;
        transform: translateY(-95px);
        position: absolute;
        background-image: url('../../public/Bg-Desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        z-index: -1;
    }

    &__first {
        display: flex;
        align-items: center;
        color: var.$white;
        font-size: 0.875rem;
        font-weight: var.$regular;

        p {
            cursor: pointer;
            transition: transform 200ms;

            &:hover {
                transform: scale(1.1);
            }
        }

        .line {
            width: 2px;
            height: 30px;
            background-color: var.$offWhite;
            border-radius: 100px;
            margin: 0px 10px;
        }
    }

    &__second {
        display: flex;
        column-gap: 40px;
        align-items: center;
        
        img {
            cursor: pointer;
            transition: transform 200ms;
        
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@include mix.breakpoint-desktop(medium) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        padding-top: 125px;

        .bg {
            height: 310px;
        }

        &__first {
            font-size: 1rem;
        }

        &__second {
            margin-right: 30px;
        }
    }
}