*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    height: 100vh;
}

h1, 
p {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}